<!DOCTYPE html>
<html lang="zh-cn" >
<head>
<title>修改 job | Django 站点管理员</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "28800";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-job model-job change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Django 管理</a></h1>

        </div>
        
        <div id="user-tools">
            
                欢迎，
                <strong>hyx1161</strong>.
            
            
                
                
                
                <a href="/admin/password_change/">修改密码</a> /
                
                <a href="/admin/logout/">注销</a>
            
        </div>
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">首页</a>
&rsaquo; <a href="/admin/job/">Job</a>
&rsaquo; <a href="/admin/job/job/">Jobs</a>
&rsaquo; 科学松鼠会-原创标题链接
</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>修改 job</h1>
        <div id="content-main">


  <ul class="object-tools">
    
    <li>
        
        <a href="/admin/job/job/1/history/" class="historylink">历史</a>
    </li>
    
    
  </ul>


<form enctype="multipart/form-data" action="" method="post" id="job_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='QQwm7B1UwphH8I8CbUv4K7qkhFDRYJEN' />
<div>






<form action="{% url 'job:saveOrUpdate' job_id=job.id %}" method="post">
  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-job_name">
            
            
                <div>
                    
                    
                        <label class="required" for="id_job_name">Job name:</label>
                        
                            <input class="vTextField" id="id_job_name" maxlength="256" name="job_name" type="text" value="{{ job.job_name }}" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-get_rules">
            
            
                <div>
                    
                    
                        <label class="required" for="id_get_rules">Get rules:</label>
                        
                            <textarea class="vLargeTextField" cols="40" id="id_get_rules" name="get_rules" rows="10">{{ job.get_rules }}</textarea>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-keyword">
            
            
                <div>
                    
                    
                        <label for="id_keyword">Keyword:</label>
                        
                            <input class="vTextField" id="id_keyword" maxlength="256" name="keyword" type="text" value="{{ job.keyword}}"/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-thread_num">
            
            
                <div>
                    
                    
                        <label class="required" for="id_thread_num">Thread num:</label>
                        
                            <input class="vIntegerField" id="id_thread_num" name="thread_num" type="text" value="{{ job.thread_num }}" />
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>
<input type="submit" value="提交" />
</form>







    
<div class="inline-group" id="scan_set-group">
  <div class="tabular inline-related last-related">
<input id="id_scan_set-TOTAL_FORMS" name="scan_set-TOTAL_FORMS" type="hidden" value="0" /><input id="id_scan_set-INITIAL_FORMS" name="scan_set-INITIAL_FORMS" type="hidden" value="0" /><input id="id_scan_set-MIN_NUM_FORMS" name="scan_set-MIN_NUM_FORMS" type="hidden" value="0" /><input id="id_scan_set-MAX_NUM_FORMS" name="scan_set-MAX_NUM_FORMS" type="hidden" value="1000" />
<fieldset class="module">
   <h2>Scans</h2>
   
   <table>
     <thead><tr>
     
       
         <th colspan="2" class="required">Scan start
         
         </th>
       
     
       
         <th>Scan end
         
         </th>
       
     
       
         <th class="required">Is finish
         
         </th>
       
     
     <th>删除？</th>
     </tr></thead>

     <tbody>
     
        
        <tr class="form-row row1  empty-form"
             id="scan_set-empty">
        <td class="original">
          
          <input id="id_scan_set-__prefix__-id" name="scan_set-__prefix__-id" type="hidden" />
          <input id="id_scan_set-__prefix__-job" name="scan_set-__prefix__-job" type="hidden" value="1" />
          
        </td>
        
          
            
              
              <td class="field-scan_start">
              
                  
                  <p class="datetime">日期： <input class="vDateField" id="id_scan_set-__prefix__-scan_start_0" name="scan_set-__prefix__-scan_start_0" size="10" type="text" /><br />时间： <input class="vTimeField" id="id_scan_set-__prefix__-scan_start_1" name="scan_set-__prefix__-scan_start_1" size="8" type="text" /></p>
              
              </td>
              
            
          
            
              
              <td class="field-scan_end">
              
                  
                  <p class="datetime">日期： <input class="vDateField" id="id_scan_set-__prefix__-scan_end_0" name="scan_set-__prefix__-scan_end_0" size="10" type="text" /><br />时间： <input class="vTimeField" id="id_scan_set-__prefix__-scan_end_1" name="scan_set-__prefix__-scan_end_1" size="8" type="text" /></p>
              
              </td>
              
            
          
            
              
              <td class="field-is_finish">
              
                  
                  <input class="vTextField" id="id_scan_set-__prefix__-is_finish" maxlength="256" name="scan_set-__prefix__-is_finish" type="text" />
              
              </td>
              
            
          
        
        
          <td class="delete"></td>
        
        </tr>
     
     </tbody>
   </table>
</fieldset>
  </div>
</div>

<script type="text/javascript">

(function($) {
  $("#scan_set-group .tabular.inline-related tbody tr").tabularFormset({
    prefix: "scan_set",
    adminStaticPrefix: '/static/admin/',
    addText: "添加另一个 Scan",
    deleteText: "删除"
  });
})(django.jQuery);
</script>







<div class="submit-row">
<input type="submit" value="保存" class="default" name="_save" />

    
    <p class="deletelink-box"><a href="/admin/job/job/1/delete/" class="deletelink">删除</a></p>


<input type="submit" value="保存并增加另一个" name="_addanother" />
<input type="submit" value="保存并继续编辑" name="_continue" />
</div>






<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
